.navbar {
  background-color: rgb(54, 151, 241) !important;
}

.formato01 {
  color: white !important;
}

.navbar-nav .nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}
